# APPLIED MACHINE LEARNING ASSIGNMENT 1

Lecturer's Name: Paul <br />
Student Name: Yap Li Xen (Kelvin) <br />
Student ID: P7414389 <br />
Class: DSAI/2021

# PART A: CLASSIFICATION (KAGGLE TITANIC)

Data Preparation (Function)
=======================
* Data Cleaning
* Data Transformation

In [261]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

def perform_data_preparation(df):
    df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], 1)

    df['hasFamily'] = np.where((df['SibSp'] <= 0) & (df['Parch'] <= 0), 0, 1)
    df = df.drop(['SibSp', 'Parch'], 1)
    
    df['Fare'] = df['Fare'].fillna(0)
    fare_bins=[0,10,20,40,60,80,100,200,600]
    fare_labels=[1,2,3,4,5,6,7,8]
    df['Fare_Group'] = pd.cut(df['Fare'], bins=fare_bins, labels=fare_labels, right=False)
    df = df.drop('Fare', 1)
    
    df['Age'] = df['Age'].fillna(-1)
    age_bins=[-1,0,13,60,120]
    age_labels=['Unknown','Children','Adult','Elderly']
    df['Age_Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)
    df = df.drop('Age', 1)
    
    ohe = OneHotEncoder()
    df = df[df['Embarked'].notna()]
    df['Embarked'] = ohe.fit_transform(df["Embarked"].values.reshape(-1,1)).toarray()
    df['Sex'] = ohe.fit_transform(df["Sex"].values.reshape(-1,1)).toarray()
    
    df = pd.get_dummies(df)
    return df

Train Model (SVC)
===============

In [262]:
df_train = pd.read_csv('data/train.csv', sep=',')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            889 non-null    int64
 1   Pclass              889 non-null    int64
 2   Sex                 889 non-null    float64
 3   Embarked            889 non-null    float64
 4   hasFamily           889 non-null    int32
 5   Fare_Group_1        889 non-null    uint8
 6   Fare_Group_2        889 non-null    uint8
 7   Fare_Group_3        889 non-null    uint8
 8   Fare_Group_4        889 non-null    uint8
 9   Fare_Group_5        889 non-null    uint8
 10  Fare_Group_6        889 non-null    uint8
 11  Fare_Group_7        889 non-null    uint8
 12  Fare_Group_8        889 non-null    uint8
 13  Age_Group_Unknown   889 non-null    uint8
 14  Age_Group_Children  889 non-null    uint8
 15  Age_Group_Adult     889 non-null    uint8
 16  Age_Group_Elderly   889 non-null    uint8
dtypes: float64(2), int32(1), int64(2), uint8(12)
memory usage: 48.6 KB

In [ ]:
df_train = perform_data_preparation(df_train)
df_train.info()

In [ ]:
from sklearn.model_selection import train_test_split
X = df_train.drop('Survived', axis=1)
y = df_train['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [263]:
from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)

training_data_score = model.score(X_train, y_train)
print("Training Data Score: {:.2f}%".format(training_data_score*100))

test_data_score = model.score(X_test, y_test)
print("Test Data Score: {:.2f}%".format(test_data_score*100))

Training Data Score: 82.56%
Test Data Score: 82.58%

Kaggle Titanic Prediction 
=====================

In [264]:
df_kaggle = pd.read_csv('data/test.csv', sep=',')
df_kaggle.info()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [266]:
df_kaggle = perform_data_preparation(df_kaggle)
df_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Pclass              418 non-null    int64
 1   Sex                 418 non-null    float64
 2   Embarked            418 non-null    float64
 3   hasFamily           418 non-null    int32
 4   Fare_Group_1        418 non-null    uint8
 5   Fare_Group_2        418 non-null    uint8
 6   Fare_Group_3        418 non-null    uint8
 7   Fare_Group_4        418 non-null    uint8
 8   Fare_Group_5        418 non-null    uint8
 9   Fare_Group_6        418 non-null    uint8
 10  Fare_Group_7        418 non-null    uint8
 11  Fare_Group_8        418 non-null    uint8
 12  Age_Group_Unknown   418 non-null    uint8
 13  Age_Group_Children  418 non-null    uint8
 14  Age_Group_Adult     418 non-null    uint8
 15  Age_Group_Elderly   418 non-null    uint8
dtypes: float64(2), int32(1), int64(1), uint8(12)
memory usage: 19.6 KB

In [268]:
X = df_kaggle
y_predict = model.predict(X)
print(y_predict)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [269]:
result = pd.DataFrame(y_predict, columns=['Survived'])
result.to_csv('submission.csv', sep=',')