# APPLIED MACHINE LEARNING ASSIGNMENT 1

Lecturer's Name: Paul <br />
Student Name: Yap Li Xen (Kelvin) <br />
Student ID: P7414389 <br />
Class: DSAI/2021

# PART B: REGRESSION

# Background

xxx

# Steps

1. xxx
2. xxx
3. xxx

# Importing All Libraries

In [163]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# Data Importing

A first view of the dataset to understand the data structure and data value.

In [164]:
df = pd.read_csv('data/kc_house_data.csv', sep=',')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

![](data/data_description.png)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [166]:
# # df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch', 'Fare', 'Embarked'], 1)
# # df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], 1)
# df = df.drop('date', 1)
df = df.drop(['date','id','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15'], 1)
df.shape

# df = df[:10000]
# df.shape

(21613, 13)

# Exploratory Data Analysis

# Data Preparation

# Train Model

In [167]:
from sklearn.model_selection import train_test_split
X = df.drop('price', axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Score Model

In [168]:
# import 4 different models
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

# Assign 4 models into arrays
models = [LinearRegression(), 
          KNeighborsRegressor(), 
          DecisionTreeRegressor()]
#           SVR(kernel='linear')]

#Loop models and compile score into table
rows = []
for i in models:
    # Fit Training Data to model selected
    model = i
    model.fit(X_train, y_train)
    
    # Predict Train Data
    y_predict_train_data = model.predict(X_train)
    mse_train = np.mean((y_predict_train_data-y_train)**2)
    score_train = model.score(X_train, y_train)
    
    # Predict Test Data
    y_predict_test_data = model.predict(X_test)
    mse_test = np.mean((y_predict_test_data-y_test)**2)
    score_test = model.score(X_test, y_test)

    rows.append([i, 
                 "{:.2f}".format(mse_train), 
                 "{:.2f}".format(mse_test), 
                 "{:.2f}%".format(score_train*100), 
                 "{:.2f}%".format(score_test*100)])

# Display summary result
summary_table = pd.DataFrame(rows, columns=["Algorithm", 
                                            "MSE Score(train)", 
                                            "MSE Score(test)", 
                                            "R2 Score(train)", 
                                            "R2 Score(test)"])
print(summary_table)

                 Algorithm MSE Score(train) MSE Score(test) R2 Score(train)  \
0       LinearRegression()   48060021200.90  42210085188.73          65.35%
1    KNeighborsRegressor()   45796521765.80  63620552669.96          66.98%
2  DecisionTreeRegressor()     104719983.08  63649245413.68          99.92%

  R2 Score(test)
0         64.51%
1         46.50%
2         46.48%

# Evaluate Model

In [169]:
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, y_predict)
# print(cm)

In [170]:
# from sklearn.metrics import plot_confusion_matrix

# for i in models:
#     # Fit Training Data to model selected
#     model = i
    
#     plot_confusion_matrix(model, X_test, y_test)
#     plt.title(model)
#     plt.show()

In [171]:
# # from sklearn.metrics import classification_report
# # print(classification_report(y_test, y_predict))

# for i in models:
#     # Fit Training Data to model selected
#     model = i
#     model.fit(X_train, y_train)

#     # Predict Test Data
#     y_predict = model.predict(X_test)
    
#     print(classification_report(y_test, y_predict))

# Improve Model

# References / Appendixes

1. https://www.kaggle.com/c/titanic/data
2. xx